body{
    background-color: black;
    color: white;
    font-family: 'Ubuntu', sans-serif;
}

.archcarp{
    position: absolute;
    top: 28%;
    left: 21%;
    background-color: #D9D9D9;
    color: black;
    width: 60%;
    height: 65%;
    border-radius: 30px;
    font-size: 35px;
}

#titulo{
    position: absolute;
    left: 40%;
    text-align: center;
    font-size: 40px;

}

#arch{
    position: absolute;
    top: 15%;
    left: 27%;
    width: 20px;
    height: 20px;
}

#arch1{
    position: absolute;
    top: 13%;
    left: 30%;
}

#carp{
    position: absolute;
    top: 15%;
    right: 41%; 
    width: 20px;
    height: 20px;
}

#carp1{
    position: absolute;
    top: 13%;
    right: 27%; 
}

#nmb{
    position: absolute;
    left: 22%;
    top: 35%;
    font-size: 25px;
}

#nombrea{
    position: absolute;
    left: 22%;
    top: 50%;
    width: 57%;
    height: 15%;
    font-size: 25px;
    border-radius: 10px;
    border-style: none;
    box-shadow: 5px 5px 5px #888888;
}

#nma{
    position: absolute;
    left: 22%;
    top: 7%;
    font-size: 25px;
}

#nombren    {
    position: absolute;
    left: 22%;
    top: 15%;
    width: 57%;
    height: 15%;
    font-size: 25px;
    border-radius: 10px;
    border-style: none;
    box-shadow: 5px 5px 5px #888888;
}

#boton{
    position: absolute;
    left: 40%;
    top: 75%;
    background-color: black;
    color: white;
    height: 15%;
    width: 20%;
    font-size: 25px;
    border-radius: 10px;
    padding: 10px;
}